.version.index /* version checker */
{
	color: #000010;
	background-color: #8E0700;
}

.html
{
	background-color: #FFFCF1;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1999.5400000000013px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu777
{
	width: 0.01px;
	margin-left: -102px;
}

#u777
{
	z-index: 6;
	width: 1220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u777_clip
{
	overflow: hidden;
	width: 1220px;
	height: 713px;
}

#u777_img
{
	margin-bottom: -49px;
}

#u759
{
	z-index: 8;
	width: 519px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1123px;
	left: 603px;
}

#u759 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u783
{
	z-index: 10;
	position: relative;
	width: 460px;
	margin-right: -10000px;
	margin-top: 665px;
}

#u789-4
{
	z-index: 12;
	position: relative;
	width: 667px;
	margin-right: -10000px;
	margin-top: 753px;
	left: 435px;
}

#u792-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 827px;
	left: 455px;
}

#u794-4
{
	z-index: 20;
	position: relative;
	width: 89px;
	margin-right: -10000px;
	margin-top: 738px;
	left: 966px;
}

#u797-6
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1124px;
	left: 102px;
}

#u798-8
{
	z-index: 30;
	position: relative;
	width: 494px;
	margin-right: -10000px;
	margin-top: 1254px;
	left: 102px;
}

#u783_img,#u789-4_img,#u794-4_img,#u798-8_img
{
	display: block;
	vertical-align: top;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 599px;
}

#wap
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 475px;
	left: 567px;
}

#pu650
{
	width: 0.01px;
	padding-bottom: 81px;
	margin-left: -100px;
	margin-top: -1380px;
}

#u650
{
	z-index: 83;
	height: 62px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u650-bw
{
	z-index: 83;
}

#u864
{
	z-index: 116;
	width: 202px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -493px;
}

#menuu654
{
	z-index: 84;
	width: 819px;
	border-style: none;
	background-color: transparent;
	position: fixed;
	top: 17px;
	left: 50%;
	margin-left: -293px;
}

#u669
{
	width: 96px;
	min-height: 31px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u670
{
	width: 96px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u670:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u670.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u673-4
{
	width: 31px;
	min-height: 19px;
	border-style: none;
	background-color: transparent;
	color: #008FA8;
	font-size: 16px;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 32px;
}

#u670:hover #u673-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 31px;
	margin: 0px -10000px 0px 0px;
}

#u670:active #u673-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 31px;
	margin: 0px -10000px 0px 0px;
}

#u670.MuseMenuActive #u673-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 31px;
	margin: 0px -10000px 0px 0px;
}

#u670:hover #u673-4 p
{
	color: #000000;
	visibility: inherit;
}

#u670:active #u673-4 p
{
	color: #000000;
	visibility: inherit;
}

#u655
{
	width: 206px;
	min-height: 31px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u658
{
	width: 206px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u658:hover
{
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u658.MuseMenuActive
{
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u660-4
{
	width: 141px;
	min-height: 19px;
	border-style: none;
	background-color: transparent;
	color: #008FA8;
	font-size: 16px;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 32px;
}

#u658:hover #u660-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u658:active #u660-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u658.MuseMenuActive #u660-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 141px;
	margin: 0px -10000px 0px 0px;
}

#u658:hover #u660-4 p
{
	color: #000000;
	visibility: inherit;
}

#u658:active #u660-4 p
{
	color: #000000;
	visibility: inherit;
}

#u662
{
	width: 196px;
	min-height: 31px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u665
{
	width: 196px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u665.MuseMenuActive
{
	width: 196px;
	min-height: 0px;
	margin: 0px;
}

#u666-4
{
	width: 131px;
	min-height: 19px;
	border-style: none;
	background-color: transparent;
	color: #008FA8;
	font-size: 16px;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 32px;
}

#u665:hover #u666-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u665:active #u666-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u665.MuseMenuActive #u666-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u665:hover #u666-4 p
{
	color: #000000;
	visibility: inherit;
}

#u665:active #u666-4 p
{
	color: #000000;
	visibility: inherit;
}

#u683
{
	width: 140px;
	min-height: 31px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 498px;
}

#u686
{
	width: 140px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u686.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u687-4
{
	width: 75px;
	min-height: 19px;
	border-style: none;
	background-color: transparent;
	color: #008FA8;
	font-size: 16px;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 32px;
}

#u686:hover #u687-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u686:active #u687-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u686.MuseMenuActive #u687-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u686:hover #u687-4 p
{
	color: #000000;
	visibility: inherit;
}

#u686:active #u687-4 p
{
	color: #000000;
	visibility: inherit;
}

#u690
{
	width: 181px;
	min-height: 31px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 638px;
}

#u691
{
	width: 181px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
}

#u691.MuseMenuActive
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u694-4
{
	width: 116px;
	min-height: 19px;
	border-style: none;
	background-color: transparent;
	color: #008FA8;
	font-size: 16px;
	line-height: 19px;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 32px;
}

#u691:hover #u694-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u691:active #u694-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u691.MuseMenuActive #u694-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u691:hover #u694-4 p
{
	color: #000000;
	visibility: inherit;
}

#u691:active #u694-4 p
{
	color: #000000;
	visibility: inherit;
}

#u670.MuseMenuActive #u673-4 p,#u658.MuseMenuActive #u660-4 p,#u665.MuseMenuActive #u666-4 p,#u686.MuseMenuActive #u687-4 p,#u691.MuseMenuActive #u694-4 p
{
	color: #008FA8;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u814
{
	z-index: 38;
	width: 1222px;
	background-color: transparent;
	left: -102px;
	margin-top: 24px;
	position: relative;
}

#u814_clip
{
	overflow: hidden;
	width: 1222px;
	height: 288px;
}

#u814_img
{
	margin-top: -48px;
}

#u862
{
	z-index: 57;
	width: 1222px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #006A5B;
	background-color: #008A7A;
	padding-bottom: 35px;
	left: -102px;
	position: relative;
	border-width: 3px 0px 0px;
}

#seafoodwatch
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 628px;
}

#pu855
{
	width: 0.01px;
	margin-left: -103px;
	margin-top: -1px;
}

#u855
{
	z-index: 40;
	width: 1222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
}

#u855_clip
{
	overflow: hidden;
	width: 1222px;
	height: 592px;
}

#u855_img
{
	margin-left: -3px;
}

#u821
{
	z-index: 42;
	width: 1222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u820-9
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 103px;
}

#u827
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 175px;
}

#u839
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 401px;
}

#u917
{
	z-index: 69;
	width: 1222px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #006A5B;
	background-color: #008A7A;
	padding-bottom: 32px;
	left: -104px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
	border-width: 3px 0px 0px;
}

#farmers
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 601px;
}

#pu911
{
	width: 0.01px;
	margin-left: -104px;
	margin-top: -7px;
}

#u911
{
	z-index: 2;
	width: 1222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 558px;
	left: 1px;
}

#u889
{
	z-index: 4;
	width: 1222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u889_clip
{
	overflow: hidden;
	width: 1222px;
	height: 645px;
}

#u889_img
{
	margin-top: -203px;
	margin-bottom: -98px;
}

#u871-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 358px;
	left: 104px;
}

#u898-6
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1023px;
	left: 104px;
}

#u877
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 480px;
}

#u918
{
	z-index: 72;
	width: 1222px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #006A5B;
	background-color: #008A7A;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 621px;
	border-width: 3px 0px 0px;
}

#nopesticides
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 601px;
}

#u899
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 702px;
	left: 482px;
}

#u930
{
	z-index: 77;
	width: 1222px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #006A5B;
	background-color: #008A7A;
	left: -104px;
	top: -10px;
	margin-bottom: -10px;
	position: relative;
	border-width: 3px 0px 0px;
}

#u931-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 98px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

