.version.index /* version checker */
{
	color: #0000F9;
	background-color: #F8D6BF;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -12px;
	margin-bottom: -4px;
	width: 0.01px;
}

#pu1429
{
	width: 0.01px;
}

#u1429
{
	z-index: 4;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
}

#u1429_img
{
	padding-bottom: 7px;
}

#u1467
{
	z-index: 27;
	position: relative;
	width: 244px;
	margin-right: -10000px;
	margin-top: 522px;
}

#u1469-4
{
	z-index: 29;
	position: relative;
	width: 667px;
	margin-right: -10000px;
	margin-top: 620px;
	left: 101px;
}

#u1470-6
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 711px;
	left: 43px;
}

#u1471-4
{
	z-index: 39;
	position: relative;
	width: 89px;
	margin-right: -10000px;
	margin-top: 606px;
	left: 632px;
}

#u1379
{
	z-index: 99;
	min-height: 94px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
}

#u1419-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 346px;
}

#u1379-bw
{
	z-index: 99;
	min-height: 94px;
	margin-top: 12px;
}

#u1420-8
{
	z-index: 104;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 608px;
}

#pamphletu1483
{
	z-index: 112;
	width: 0.01px;
	height: 96px;
	padding-bottom: 292px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1484
{
	position: absolute;
	width: 364px;
	background-color: transparent;
	top: 94px;
	left: 406px;
}

#u1484popup
{
	z-index: 113;
}

#u1487
{
	z-index: 114;
	width: 362px;
	height: 293px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
	margin-right: -10000px;
	position: relative;
}

#u1487_position_content
{
	margin-top: -2px;
	padding-bottom: 4px;
}

#u1498-4
{
	z-index: 115;
	left: -1px;
	position: relative;
}

#u1522-4
{
	z-index: 127;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1521-4
{
	z-index: 123;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1518-4
{
	z-index: 119;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1519-4
{
	z-index: 131;
	left: -1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1492
{
	z-index: 135;
	width: 769px;
	position: relative;
	margin-right: -10000px;
}

#u1494
{
	position: absolute;
	width: 767px;
	height: 94px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u1494:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	width: 767px;
	height: 94px;
	min-height: 0px;
	margin: 0px;
}

#u1494.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 768px;
	height: 95px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

.ie #u1494.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1416
{
	z-index: 137;
	width: 324px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 83px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 357px;
}

#wap
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 567px;
	left: 384px;
}

#pu1465
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 27px;
}

#u1465
{
	z-index: 25;
	width: 519px;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 73px;
}

#u1465 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u1472-6
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1473-10
{
	z-index: 49;
	margin-left: 40px;
	margin-top: 27px;
	position: relative;
}

#u1467_img,#u1469-4_img,#u1471-4_img,#u1498-4_img,#u1522-4_img,#u1521-4_img,#u1518-4_img,#u1519-4_img,#u1473-10_img
{
	display: block;
	vertical-align: top;
}

#u1432
{
	z-index: 6;
	width: 768px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u1432_clip
{
	overflow: hidden;
	width: 768px;
	height: 181px;
}

#u1432_img
{
	margin-top: -30px;
}

#u1442
{
	z-index: 16;
	height: 54px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #006A5B;
	background-color: #008A7A;
	border-width: 3px 0px 0px;
}

#u1442-bw
{
	z-index: 16;
	margin-top: -7px;
	margin-bottom: -7px;
	height: 54px;
}

#pu1436
{
	width: 0.01px;
	margin-top: -1px;
}

#u1436
{
	z-index: 10;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1438
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u1440
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 205px;
}

#seafood
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 347px;
}

#pu1434
{
	width: 0.01px;
	margin-top: -2px;
}

#u1434
{
	z-index: 8;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1434_img
{
	padding-bottom: 1px;
}

#u1476-9
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 40px;
}

#u1451
{
	z-index: 19;
	height: 54px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #006A5B;
	background-color: #008A7A;
	border-width: 3px 0px 0px;
}

#u1451-bw
{
	z-index: 19;
	margin-top: -8px;
	margin-bottom: -8px;
	height: 54px;
}

#pu1456
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: -7px;
}

#u1456
{
	z-index: 2;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 548px;
}

#u1449
{
	z-index: 17;
	width: 767px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1449_clip
{
	overflow: hidden;
	width: 767px;
	height: 511px;
}

#u1449_img
{
	margin: -402px -8px -67px -492px;
}

#u1452
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 481px;
}

#u1458
{
	z-index: 22;
	height: 54px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #006A5B;
	background-color: #008A7A;
	border-width: 3px 0px 0px;
}

#u1458-bw
{
	z-index: 22;
	margin-top: 501px;
	height: 54px;
}

#u1459
{
	z-index: 23;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 925px;
	left: 266px;
}

#u1477-10
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 55px;
}

#u1478-12
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 626px;
	left: 55px;
}

#u1479-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 55px;
}

#farmers
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 362px;
}

#nopesti
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 563px;
	left: 375px;
}

#u1480
{
	z-index: 94;
	min-height: 104px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #006A5B;
	background-color: #008A7A;
	padding-bottom: 31px;
	border-width: 3px 0px 0px;
}

#u1481-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
}

#u1480-bw
{
	z-index: 94;
	min-height: 104px;
	margin-top: -6px;
	margin-bottom: -6px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

